{% extends 'blog/header.html' %}

{% block nav %}
<a href="{% url 'post_list' %}" class="icon fa-file-text active"><span>Blog</span></a>
{% endblock %}

{% block content %}
<a href="{% url 'post_new' %}"><button type="button" class="btn pull-right">新增文章</button></a>
{% for post in posts %}
<div>
  <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
  <p>{{ post.text|linebreaks }}</p>
  <p> - {{ post.created_date }}</p>
  <hr>
</div>
{% endfor %}
{% endblock %}