<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<title>Joe Loves Manta</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'personal/css/main.css' %}"/>
	<noscript><link rel="stylesheet" href="{% static 'personal/css/noscript.css' %}" /></noscript>
</head>

<!-- Wrapper-->
<div id="wrapper">

	<!-- Nav -->
	<nav id="nav">
		<a href="#me" class="icon fa-home active"><span>Home</span></a>
		<a href="#tree" class="icon fa-tree"><span>Tree</span></a>
		<a href="#song" class="icon fa-music"><span>Song</span></a>
		<a href="{% url 'post_list' %}" class="icon fa-file-text"><span>Blog</span></a>
	</nav>

	<!-- Main -->
	<div id="main">

		<!-- Me -->
		<article id="me" class="panel">
			<header>
				<h1>蔡祖寧(Joe Tsai)</h1>
				<p>一個很愛很愛吳順涵的男生</p>
			</header>
			<a href="#tree" class="jumplink pic">
				<span class="arrow icon fa-chevron-right"><span>See my tree</span></span>
				<img src="{% static 'personal/images/joe.png' %}" alt="" />	
			</a>
		</article>

		<!-- Tree -->
		<article id="tree" class="panel">
			<header>
				<h2>當小多肉遇上小橘子</h2>
			</header>
			<p>
				4/25（一）<br>
				晚上我們在慶州館吃飯<br>
				你問我：「要當兵了，可以留什麼東西給你？」<br>
				為了不讓你知道我有準備禮物要給你<br>我帥氣地回答：「就上次送你的那隻Chris娃娃啊！」<br>
				自從知道自己要去當兵了，我就一直在想你今晚問我的問題<br>
				到底⋯⋯送什麼東西能夠讓你感覺到我就在你身邊？<br>
				問題終於在過年的時候有了解答——「你送我的橘子」<br>
				吃完橘子後，順手把種子丟進盆栽中，小橘子就這麼誕生了<br>
				另外一盆是從我最愛的多肉植物，剪取一部分用仟插法繁殖而成<br>
				你要好好照顧他們倆，照顧他們就好像在照顧我一樣^_^<br>
				對了⋯⋯你自己幫他們取名字吧！

			</p>
			<section>
				<div class="row">
					<div class="6u 12u$(mobile)">
						<img src="{% static 'personal/images/succulent.jpg' %}" alt="" class="image fit">
						<center>小多肉：兩週澆一次水</center>
					</div>
					<div class="6u 12u$(mobile)">
						<img src="{% static 'personal/images/orange.jpg' %}" alt="" class="image fit">
						<center>小橘子：每天澆水</center>
					</div>

				</div>
			</section>
		</article>

		<!-- Video -->
		<article id="song" class="panel">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://www.youtube.com/embed/kmfvIMic2us?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<pre>
				<h2>跟</h2>
跟	我想要跟你永遠走下去	請你不要嫌棄我愛遲到
常常生氣	腳上迷人的氣味								

跟	準備好跟我走下去了嗎	我絕不會嫌棄你愛逛街
無病呻吟	狂熱的政治份子

台北 	屏東
路很遠 心卻近

想我	就看看照片
我就在你身邊	陪著你走

乖乖地    等我回來
在每個    角落都留下    我們的足跡</pre>
			</article>
		</div>

		<!-- Footer -->
		<div id="footer">
			<ul class="copyright">
				<li>&copy; Joe</li><li>2016/04/27</li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="{% static 'personal/js/jquery.min.js' %}"></script>
	<script src="{% static 'personal/js/skel.min.js' %}"></script>
	<script src="{% static 'personal/js/skel-viewport.min.js' %}"></script>
	<script src="{% static 'personal/js/util.js' %}"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{% static 'personal/js/main.js' %}"></script>
</body>

</html>